doctype html
head
    title Success!
    link(href='/Stylesheet.css', rel='stylesheet')
body
  p Your message has been successfully submitted. You can
  a(href='/posts') View Your Post (Among Others)  
  p or
  a(href='/') Submit Another Post 
