body {
	background-color: #F7CAC9;
}

#bodyForm {
	width: 500px;
	min-height: 200px;
	vertical-align: top;
}

li {
	list-style-type: none;
	border: solid black 1px;

}

#titleOfPost {
	font-size: 110%;
	text-decoration:underline;
	border-bottom: none;
}

#body {
	padding-left: 20px;
	padding-bottom: 10px;
	border-top: none;
	margin-bottom: 20px;
}

#formBody {
	text-align: center
}

#submitButton {
padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #92A8D1;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}